@page "/"

<h1>Hello, world!</h1>

<body style="background-color:@configu.Cor">
    <div>
        <h1 style="color:aliceblue; font-size:@configu.Tamanho">Teste de cor</h1>
        <h1 style="color:aliceblue;">@configu.Cor</h1>
    </div>
</body>

@*<ParametrosArbitrarios Titulo="Parâmetros Arbitrários"
    src="/imagens/blazor2.png" alt="Blazor1" class="img-fluid"></ParametrosArbitrarios>*@

<ParametrosArbitrarios Titulo="PARÂMETROS ARBITRARIOS - 2º FORMA DE ENVIAR PARAMENTROS"
                       @attributes="MeusParametros"></ParametrosArbitrarios>

@code{
    [CascadingParameter] Config configu { get; set; }

    public Dictionary<string, object> MeusParametros { get; set; } =
        new Dictionary<string, object>
        {
            {"src","/imagens/blazor2.png" },
               {"alt","Blazor2" },
                    { "class","img-fluid"}
         };


}
