@page "/"

<h1>Hello, world!</h1>

<body style="background-color:@configu.Cor">
    <div>
        <h1 style="color:aliceblue; font-size:@configu.Tamanho">Teste de cor</h1>
        <h1 style="color:aliceblue;">@configu.Cor</h1>
    </div>
</body>

@code{
    [CascadingParameter] Config configu { get; set; }
}
